<app-nav-bar></app-nav-bar>
<div class="container-fluid">
    <section class=" ">
        <div class="row mt-2 mx-5 shadow rounded-2 d-flex justify-content-center">
            <div class="col-12">
                <h2 class="text-center">My Rentals</h2>
            </div>
        </div>
        <div class="row mt-3 mx-2 mb-4 d-flex justify-content-center">
            <table class="table table-bg">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Rent per day</th>
                        <th scope="col">Rental Date</th>
                        <th scope="col">Due Date</th>
                        <th scope="col">Actual Return Date</th>
                        <th scope="col">Fine Amount</th>
                        <th scope="col">Total Rent Amount</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of rentedBooksList">
                        <td><div>{{r.book.title}}</div></td>
                        <td>{{r.book.author}}</td>
                        <td>₹{{r.book.rentPerDay}}</td>
                        <td>{{r.rentalDate | date}}</td>
                        <td>{{r.dueDate | date}}</td>
                        <td>{{r.actualReturnDate ? (r.actualReturnDate | date) : "N/A"}}</td>
                        <td>{{r.fineAmount !== null ? '₹' + r.fineAmount : 'N/A'}}</td>
                        <td>{{r.rentAmount !== null ? '₹' + r.rentAmount : 'N/A'}}</td>
                        <td>
                            <button *ngIf="!(r.actualReturnDate==null && r.hasReturned == false)" class="btn btn-success disabled btnwidth" >Returned</button>
                            <button *ngIf="(r.actualReturnDate==null && r.hasReturned == false)" class="btn btn-warning btnwidth" (click)="onReturnRequest(r.book.id)">Return</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<app-footer></app-footer>