<!-- Navbar -->
<nav class="card shadow-sm navbar sticky-top navbar-expand-lg border d-flex justify-content-center">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-bank2 py-2 px-0" viewBox="0 0 16 16">
      <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
    </svg>

    <!-- Navbar brand -->
    <a class="navbar-brand me-5" routerLink="/">
      <sub><b><span class="text-dark">Net</span><span class="banking">Banking</span></b></sub><br>
      <span class="bankName border border-light text-light rounded fs-6 px-2"><b>Sky Bank</b></span>
    </a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
    <!-- Left links -->
    <h6>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-6">
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link " routerLink="/aboutus">About us</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link " routerLink="/Services">Services</a>
        </li>
        <li class="nav-item ms-4 ">
          <a class="nav-link" routerLink="/faqs">Need help?</a>
        </li>
        <li class="nav-item ms-4 ">
          <a class="nav-link " routerLink="/contactus">Contact us</a>
        </li>
        <li class="nav-item ms-4" *ngIf="!loginStatus">
          <a class="nav-link " routerLink="/trackregistrationstatus">Track status</a>
        </li>
      </ul>
    </h6>
    </div>

    <div *ngIf="!loginStatus" class="d-flex profile-logo pe-2">
      <div class="profile-logo dropend">
        <button class="btn btn-outline-dark dropdown-toggle" routerLink="/register">Apply online</button>
      </div>
    </div>
  
    <div *ngIf="!loginStatus" class="d-flex profile-logo">
      <div class="profile-logo dropend">
        <button class="btn btn-outline-dark dropdown-toggle" routerLink="/login">Login</button>
      </div>
    </div>
      
    <a *ngIf="loginStatus" routerLink="/notifications">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell-fill text-dark" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
      </svg>
      <small><label class="bg-primary rounded text-light px-1">{{notiCount}}</label></small>
    </a>

    <span *ngIf="loginStatus" class="mb-2 mt-2 me-md-5 ms-md-5">Welcome back <br>
      <span class="welcome"><b>{{user.firstName}}</b></span>
    </span>

    <div *ngIf="loginStatus" class=" profile-logo dropstart">
      <button class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">My Profile</button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
        <li>
          <a class="dropdown-item" (click)="onLogout()" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg> Logout
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>