 .user-background
 {
    
    background: url('https://wallpaperaccess.com/full/449895.jpg');
    opacity: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }   
    