.admin-bground 
{
    background: url("https://www.teahub.io/photos/full/40-402760_light-color-background-for-website.jpg");
    opacity: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}