    <!-- Footer -->
    <footer class="text-center text-light fixed-bottom footer-bg mt-5 mb-0">
        <!-- Grid container -->
        <!-- <div class="container pt-3"> -->
            <!-- Section: CTA -->
            <!-- <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Register for free</span>
                    <a routerLink="/signup">
                        <button mdbRipple type="button" class="btn btn-outline-light btn-rounded">
                            Sign up!
                        </button>
                    </a>
                </p>
            </section> -->
            <!-- Section: CTA -->
        <!-- </div> -->
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-2" style="background-color: #2C74B3;">
            © 2020 Copyright:
            <a class="text-light" href="/">DigitalLibrary.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

