<app-top-navbar></app-top-navbar>
<div class="container my-3 mx-3">
    <h1 style="color:navy" class="text-center">About Us</h1>
    <div class="card m-3">
        <div class="card-body">
            <p>
                People are at the heart of everything we do at Sky Bank, which is why we dedicate ourselves to understanding what you need,and more. 
                 Whether it’s helping you with your investments or turning your business ideas into reality, 
                 we are committed to be the bank that you can trust and partner through life.
            </p>
        </div>
    </div>
</div>