<div class="container-fluid g-0">
  <app-top-navbar></app-top-navbar>
</div>
<div class="container-fluid g-0">
<app-home-mainnavbar></app-home-mainnavbar>
</div>
<div class="container d-flex justify-content-center">
<div class="card shadow mt-4 h-75 w-md-50 ">
    <div class="row mt-4 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
        </svg>
    </div>
    <div class="text-center">
        <h4 class="mb-3" style="color:navy">Bank Balance fetched Successfully</h4>
        <b class="text-light rounded fs-6 ps-2 pe-2 logo">Sky Bank</b>
        <div class="row my-3 pt-2 d-flex justify-content-center">
            <div class="col-12 col-sm-6 col-md-4 ">
                <div class="form-group mb-1">
                    <label for="transferType"><b>Account holder name</b></label>
                    <div class="text-center fs-5">
                      {{user.firstName}} {{user.lastName}}
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="form-group mb-1 ">
                  <label for="transferType"><b>Account Number</b></label>
                  <span class="fs-5">{{user.accountNumber}}</span>
                </div>
          </div>
        </div>
        <h1 style="color:navy"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="38" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
          </svg>{{user.totalBalance}}</h1>
    </div>
</div>
</div>